* {background-color: #fefae0;}

a:link{
    text-decoration:none;
    color: #A6AE8E;
}

a:visited{
    text-decoration: none;
    color: #A6AE8E;
}

.address{
    margin-top: 110px;
}

.boxRestaurantCard, .boxFoodCard{
    background-color:#fefae0;
    border-radius: 10%;
    height: 220px;
    margin: 20px;
    padding: 20px;
}


.foodCard{
    background: #e9edc9;
    border: 5px solid #E0A96D;
    border-radius: 10%;
    color: #201E20;
    height: 300px;
    margin: auto;
    margin-left: 130px;
    margin-top: 90px;
    max-width: 600px;
    position: relative;
    width: 48%;
}

.generalCard{
    background-color:#fefae0;
    display: flex;
}
 
.innerInstructions{
    background-color:#fefae0;
    border-radius: 10%;
    margin: 20px;
    padding: 20px;

}

img{
    margin-left: 250px;
    margin-top: -160px;
    position: relative;
}

.instructions{
    background: #e9edc9;
    border: 5px solid #E0A96D;
    border-radius: 10%;
    color: #201E20;
    margin: auto;
    margin-left: 130px;
    margin-top: 30px;
    max-width: 600px;
    position: relative;
    width: 48%;
}


.link{
    font-size: 25px;
    font-weight: 700;
    margin-left: 300px;
    margin-top: -150px;
}

.recipeName{
    max-width: 250px; 
}
 

.recipeTime{
    margin-top: -30px;
}
 

.restaurantCard{
    background: #faedcd;
    border: 5px solid #E0A96D;
    border-radius: 10%;
    color: #201E20;
    height: 300px;
    margin: auto;
    margin-right: 130px;
    margin-top: 90px;
    max-width: 600px;
    width: 48%;
}

header{
    align-self: center;
    display: flex;
    font-size: 20px;
    justify-content: space-evenly;
    margin-top: 80px;
    text-align: center;
}
